html
  head
    block css
      link(rel="stylesheet"
           href="/public/bower_components/normalize.css/normalize.css")
      link(rel="stylesheet" href="/public/css/main.css")
    block topjs
      script.
        _locals = !{JSON.stringify(locals)};
  body
    h1 test

    block bottomjs
      - if (production)
        script(type='text/javascript', src='/public/js/main-built.js')
      - else
        script(type='text/javascript',
               src='/public/bower_components/requirejs/require.js',
               data-main='/public/js/configure.js')
