@import 'browserupdate';
@import 'includes';

// Style up the homepage

  .hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
    background: #000;
    z-index: 2;

    .logo.item img {
      margin-right: 1em;
    }

    .ui.menu .ui.button {
      margin-left: 0.5em;
    }

    h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }

    h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

  }

  .ui.vertical.stripe {
    padding: 3em 0em 4em;

    h1 {
      margin-bottom: 1.5em;
      font-size: 2.5em;
    }

    h2.ui.icon.header i {
      margin-bottom: 0.25em;
    }

    &.alternate {
      background: #F2F3F5;
    }

    &#pricing {
      h2 {
        font-size: 3.5em;
        margin-bottom: 0.15em;
      }
      p { font-size: 1.5em; }
    }

  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  .footer.segment {
    padding: 5em 0em;
  }

  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
      transform: translateY(-1000px);  // fade in adds display class so need to
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }

