
/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{vertical-align:baseline;margin:0;padding:0;border:0;outline:0;/*font-size:100%;*/background:transparent; }ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}html{height:100%;margin-bottom:1px;}

@import 'browserupdate';

/* VARIABLES */
$uhray_blue: #0082C8;
$uhray_gray: #A6BECA;

/* BOX SIZING */
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* STYLES */

.center { text-align: center; }

h1 {
  margin-top: 50px;
  color: $uhray_blue;
  font-size: 50px;
}

div {
  color: $uhray_gray;
  font-size: 20px;

  span { color: $uhray_blue; }
}

label {
  display: block;
  margin-top: 30px;
}
