html
  head
    block css
      link(rel="stylesheet"
           href="/public/bower_components/normalize.css/normalize.css")
      link(rel="stylesheet" href="/public/css/main.css")
head

body
  header header

  #body
    block body

  footer footer

